* {
    box-sizing: border-box;
}

body {
    background-color: #24282E;
    margin: 0;
    font-family: Inter, sans-serif;
    color: white;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

main {
    height: 100%;
    padding: 50px 30px;
}

h1 {
    margin: 0;
    font-size: 39px;
}

ul {
    margin-top: 40px;
    max-width: 400px;
}

li {
    padding-block: 10px;
    line-height: 19px;
}